@font-face {
    font-family: KenneyMiniSquare;
    src: url("../fonts/Kenney Mini Square.ttf");
}
@font-face {
    font-family: KenneyFutureNarrow;
    src: url("../fonts/KENNEY\ FUTURE\ NARROW.TTF");
}
@font-face {
    font-family: KenneyFuture;
    src: url("../fonts/KENNEY\ FUTURE.TTF");
}
@font-face {
    font-family: KenneyHigh;
    src: url("../fonts/KENNEY\ HIGH.TTF");
}
@font-face {
    font-family: KenneyHighSquare;
    src: url("../fonts/KENNEY\ HIGH\ SQUARE.TTF");
}