#game_panels {
    display: flex;
    
    flex-direction: row;
    gap: 2%;
    justify-content: center;
    align-items: stretch;
    position: relative;
    height: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
}

.game_panel {
    height: 100%;
    width : 23%;
    /* border: solid 2px #97b4cb;
    border-radius: 5px;
    background-color: var(--light-blue); */
}

.game_panel h2 {
    margin-top: 10px;
}

.game_panel a {
    color: white;
}

.game_panel .game_desc {
    text-align: justify;
    text-justify: inter-word;
    margin: 0 10px;
}
.game_panel li {
    margin-left: -15px;
}

.image_thumbnail {
    margin-top: 10px;
}

.game_panel .wid, .game_panel .widoing {
    margin-top: 10px;
}

.game_panel .wid_list {
    padding-bottom: 20px;
}

.game_images {
    flex-direction: column;
}

.game_images {
    display: flex;
    flex-grow: 1;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.game_panel img {
    width: 95% !important;
    border: solid 2px white;
    border-radius: 10px;
}

.game_images img {
    margin: 2px 0;
}


.game_desc1 {
    margin-top: 20px !important;
}

.game_panel ul {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    text-align: left;
}

.game_panel h3 {
    text-align: center;
}