.game {
    /* border: solid #5182a8 1px; */
    height: 280px;
    background-image: url("images/games/yahtris-thumbnail.png");

    display: flex; 
    flex-direction: row;
    gap: 15px;
}

.game a {
    color: #5182a8;
    text-decoration: none;
}

.game h1 {
    color: #5182a8;
}

.game img {
    width: 250px;
    height: 250px;
    object-fit: cover;

    border: solid #5182a8 4px;
    
}

.game img.video {
    height: 250px;
    width: calc(250px*16/9);
}
