:root {

    --light-blue: #5182A8;
    --blue: #4B799D;
    --dark-blue: #3C5E7C;
    
    --background-color: var(--blue);
    --text-color: white;
    
    background-color: var(--background-color);
}


* {
    font-family: Lato, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 85%;
}

#content-container {
    height:100%;    
}

#content-container {
    margin-left: 7.5%;
    margin-right: 7.5%;
}

nav, nav a, #content, #socials a {
    color: var(--text-color);
}

#socials a {
    text-decoration: underline;
}

#content {
    text-align: center;
    animation: content_movement 1.25s normal;
    height: 100%;
}

#content * {
    animation: content_opacity 1s normal;
}

#content img {
    width: 30%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    padding: 5px 20%;
    
    animation: nav_movement .5s normal;
}

nav li {
    flex-grow: 1; /* default 0 */
    list-style: none;
    text-align: center;
    text-transform: uppercase;
}

nav #nav_images {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav #nav_images * {
    width: 100px;
}


#language_box {
    position: relative;
    margin-left: auto; 
    margin-right: 0;
    display: flex;
    gap: 5px;
    flex: auto;
    flex-direction: row;
    justify-content: right;
    align-content: stretch;
    align-items: center;
}


#language_box .selected * {
    text-decoration: underline;
    /* background-color: white; */
    /* color: var(--dark-blue);     */
}

#language_box a {
    cursor: pointer;
}


a {
    text-decoration: none;
}

#nav_logo, nav a {
    animation: nav_logo 2s ;
}

#column-presentation {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
}

#presentation-content {
    padding: 0 25%;
}

.presentation {
    text-align: justify;
}

.presentation-column h3 {
    margin-bottom: 10px;
}

.skill-list {
    list-style: none;
}

#presentation-column1 {
    text-align: left;
}

#presentation-column2 {
    text-align: right;
}

#socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#contact-content {
    margin-top: 15px;
}

#contact-mail, #contact-header, #column-presentation {
    margin-bottom: 10px;
}

#socials img {
    width: 40px;
}